[package]
name = "rusty-polygon-geohasher"
version = "0.1.0"
edition = "2021"

[dependencies]
pyo3 = { version = "0.16", features = ["extension-module", "abi3-py310"] }
geo = "^0.28.0"
geohash = "^0.13.1"
queue = "0.3.1"

[lib]
name = "geohash_polygon"
crate-type = ["cdylib"]

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]

#[dependencies.pyo3]
#version = "0.21.1"
## "abi3-py38" tells pyo3 (and maturin) to build using the stable ABI with minimum Python version 3.8
#features = ["abi3-py310"]
